@font-face {
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
body {
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif !important;
}

.definition-tabs {
  height: auto;
  width: max-content;
  max-height: 25rem;
  overflow-y: scroll;
  border-right: 1px solid red;
  scrollbar-width: none;
}

.table {
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 20%);
}

@media screen and (max-width: 900px) {
}
@media screen and (min-width: 900px) {
  .body {
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 10px;
  }
}
